.gitignore
.vscodeignore
eslint.config.mjs
tsconfig.json
package-lock.json
src/**
test/**
node_modules/**
out/test/**
out/**/*.map
.vscode-test/**
.git/**
**/.git/**
.gew/**
**/.gew/**
*.vsix
.env*
**/.env*
